video{
    height: 100%;
    width: 100%;
    border: none;
    object-fit: fill;
}

#video_box{
    float:left;
}
#video_overlays {
    position:absolute;
    float:left;
    // background-color:rgba(0,0,0,0.2);
    z-index:300000;
}

.hotspot-container{
    position: relative;
    z-index: 1;
}