video{
    height: 100%;
    width: 100%;
    border: none;
    object-fit: fill;
}

#video_box{
    float:left;
}
#video_overlays {
    position:absolute;
    float:left;
    // background-color:rgba(0,0,0,0.2);
    z-index:1;
}

.hotspot-container{
    position: relative;
    z-index: 1;
}
.banner{
    img{
        width: 70%;
        position: absolute;
        top: 0;
        z-index: 2;
    }
}