video{
    height: 100%;
    width: 100%;
    border: none;
    object-fit: fill;
}

#video_box{
    float:left;
}
#video_overlays {
    position:absolute;
    float:left;
    // background-color:rgba(0,0,0,0.2);
    z-index:1;
}

.hotspot-container{
    position: relative;
    z-index: 1;
}
.banner{
    img{
        width: 70%;
        position: absolute;
        top: 0;
        z-index: 2;
    }
}
.card-container{
    background: rgba(255, 255, 255, 0.8);
    width: 375px;
    height: 465px;
    padding: 20px;
    color: #000;
    box-shadow: 0px 3px 6px #0000003C;
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    backdrop-filter: blur(6px);
    .title{
        font-weight: 700;
        font-size: 30px;
    }
    .body{
        span{
            line-height: 24px;
        }
    }
    .dash-orange{
        background: #E24301;
        width: 40px;
        height: 7px;
        margin-top: 8px;
    }
}
.tab-container{
    margin-top: 36px;
    .tab{
        width: 50%;
        .tab-title{
            text-align: center;
            border-bottom: 2px solid #f1f1f1;
            padding: 10px 0;
        }
        .tab-active{
            border-color: #E24301 !important;
            color: #E24301;
        }
    }
}

.key-anim1 {
  -webkit-animation: Drawpath 1s linear forwards;
  animation: Drawpath 1s linear forwards;
  stroke-dasharray: 0,100;
}
.key-anim2 {
  -webkit-animation: Drawpath 1s linear 1s forwards;
  animation: Drawpath 1s linear 1s forwards;
  stroke-dasharray: 0,100;
}
.key-anim3 {
  -webkit-animation: Drawpath 1s linear 2s forwards;
  animation: Drawpath 1s linear 2s forwards;
  stroke-dasharray: 0,100;
}

@keyframes Drawpath {
  from {
    stroke-dasharray: 0,100;
  }
  to {
    stroke-dasharray: 100,100;
  }
}