<div class="hotspot-container pos-abs" [style]="{
        top: hotspot.pos.top + 'px',
        left: hotspot.pos.left + 'px'
    }" (click)="onHotspotClick.emit(hotspot)">
    <ng-container *ngIf="hotspot.id==='continueTour'; else lineSpots">
        <div class="hotspot">
            <div class="hotspot-blink"></div>
            <div class="hotspot-box bg-black color-white ml-16">
                <img [src]="hotspot.img" alt="" class="m-r-11">
                {{hotspot.label}}
            </div>
            </div>
            </ng-container>
            
            <ng-template #lineSpots>
                <div class="hotspot hover-orange">
            <ng-container *ngIf="hotspot.isLabelOnLeft; else labelOnRight">
                <div class="hotspot-box bg-white mr-16">
                    <img [src]="hotspot.img" alt="" class="m-r-11">
                    {{hotspot.label}}
                    <img [src]="'./assets/arrow.svg'" class="m-l-16 w-8" alt="">
                </div>
                <div class="hotspot-blink"></div>
            </ng-container>

            <ng-template #labelOnRight>
                <div class="hotspot-blink"></div>
                <div class="hotspot-box bg-white ml-16">
                    <img [src]="hotspot.img" alt="" class="m-r-11">
                    {{hotspot.label}}
                    <img [src]="'./assets/arrow.svg'" class="m-l-16 w-8" alt="">
                </div>
            </ng-template>
        </div>
    </ng-template>

</div>