@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;500&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
    height: 100%;
	overflow: hidden;
	font-family: 'Oswald', sans-serif !important;
}
.font-os{
	font-family: 'Oswald', sans-serif !important;
}
.font-sans{
	font-family: 'Open Sans', sans-serif;
}
.mr-16{
    margin-right: 16px;
}
.ml-16{
    margin-left: 16px;
}
.pos-abs{
	position: absolute;
}
.show{
	opacity: 1 !important;
}
.step{
	opacity: 0;
	transition: 0.8s ease-in all;
}
.step-fast{
	opacity: 0;
	transition: 0.4s ease-in all;
}
.reach-right{
	right: 0 !important;
}
.animate-right{
	right: -518px;
	transition: 0.6s ease all;
}

.font-init{
	font-size: 16px !important;
}
.font-animate{
	font-size: 0px;
	transition: 0.6s ease all;
}
// .scale-0{
// 	transform: scale(0);
// }
// .scale-1{
// 	transition: 0.9s ease-in all;
// 	transform: scale(1);
// }
.h-w-100{
    width: 100%;
    height: 100%;
}
.m-l-16{
	margin-left: 16px;	
}
.m-t-10{
	margin-top: 10px;	
}
.m-r-11{
	margin-right: 11px;	
}
.w-8{
	width: 8px;	
}
.d-f-j-c{
	display: flex;
    justify-content: center;
}
.bg-black{
	background: #000;
}
.bg-white{
	background: #fff;
}
.color-white{
	color: #fff;
}
.hover-orange:hover{
	color: #E24301;
    // transition-duration: 0.5s;
}
.h-full{
	height: 100%;
}
.r-0{
	right: 0;
}
.t-0{
	top: 0;
}
.d-f{
	display: flex;
}
.d-f-a-c{
	display: flex;
	align-items: center;
}

.font-16{
	font-size: 16px;
}
.font-15{
	font-size: 15px;
}
.font-bold{
	font-weight: 700;
}
.text-upper{
	text-transform: uppercase;
}
.mb-14{
	margin-bottom: 14px;
}
.mt-18{
	margin-top: 24px;
}
.cur-point{
	cursor: pointer;
}
.mt-24{
	margin-top: 24px;
}